body{
    background-color: #EEF5FF;
}
.oll-body{
    border: 2px solid red;
    height: 525px;
    width: 500px;
    margin-left: 350px;
    margin-top: 10px;
    border-radius: 12px;
    /* box-shadow: 2px 2px 10px grey; */
    box-shadow: rgba(11, 11, 203, 0.25) 0px 50px 100px -20px,
     rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    background-color: white;
    color: black;
}

.flix{
    display: flex;
    gap: 40px;
    margin-top: 20px;
    margin-left: 112px;
}
.fa-regular1 {
    border: 2px solid rgb(11, 255, 247);
    padding: 6px 12px;
    border-radius: 8px;
    background-color: aqua;
}
.button1{
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button1:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 200% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

.fa-solid1{
    border: 2px solid rgb(11, 255, 247);
    padding: 6px 12px;
    border-radius: 8px;
    background-color: aqua;
}


.fa-regular2{
    border: 2px solid rgb(11, 255, 247);
    padding: 6px 12px;
    border-radius: 8px;
    background-color: aqua;
}

.button2{
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
} 
.button2:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 200% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

.fa-solid2{
    border: 2px solid rgb(11, 255, 247);
    padding: 6px 12px;
    border-radius: 8px;
    background-color: aqua;
}

#tex-bar{
    outline: none;
    border: 2px solid grey;
    margin-left: 90px;
    margin-top: 20px;
    border-radius: 15px;
}
#text-bar{
    outline: none;
    border: 2px solid grey;
    margin-left: 90px;
    margin-top: 20px;
    border-radius: 15px;
}

.button3{
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    margin-top: 10px;
    margin-left:375px;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
} 
.button3:before {
    content: "";
    background: linear-gradient(
      45deg,
      #48ff00,
      #ff0000,
      #ff7300,
      #00ffd5,
      #002bff,
      #fffb00,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-86 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  @keyframes glowing-button-86 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 80% 0;
    }
    100% {
      background-position: 0 0;
    }
  }



/* ...............mobil ar jonno.......... */

/* ///.............................................../// */


@media only screen and (max-width: 480px){
body{
  background-color: #EEF5FF;
}
.oll-body{
  border: 2px solid red;
  height: 570px;
  width: 390px;
  margin-left: 0px;
  margin-top: 10px;
  border-radius: 12px;
  /* box-shadow: 2px 2px 10px grey; */
  box-shadow: rgba(11, 11, 203, 0.25) 0px 50px 100px -20px,
   rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  background-color: white;
  color: black;
}

.flix{
  display: flex;
  gap: 40px;
  margin-top: 20px;
  margin-left: 59px;
}
.fa-regular1 {
  border: 2px solid rgb(11, 255, 247);
  padding: 6px 12px;
  border-radius: 8px;
  background-color: aqua;
}
.button1{
padding: 0.6em 2em;
border: none;
outline: none;
color: rgb(255, 255, 255);
background: #111;
cursor: pointer;
position: relative;
z-index: 0;
border-radius: 10px;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}
.button1:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.fa-solid1{
  border: 2px solid rgb(11, 255, 247);
  padding: 6px 12px;
  border-radius: 8px;
  background-color: aqua;
}


.fa-regular2{
  border: 2px solid rgb(11, 255, 247);
  padding: 6px 12px;
  border-radius: 8px;
  background-color: aqua;
}

.button2{
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
} 
.button2:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.fa-solid2{
  border: 2px solid rgb(11, 255, 247);
  padding: 6px 12px;
  border-radius: 8px;
  background-color: aqua;
}

#tex-bar{
  outline: none;
  border: 2px solid grey;
  margin-left: 25px;
  margin-top: 20px;
  border-radius: 15px;
}
#text-bar{
  outline: none;
  border: 2px solid grey;
  margin-left:25px;
  margin-top: 20px;
  border-radius: 15px;
}

.button3{
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  margin-top: 35px;
  margin-left:270px;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
} 
.button3:before {
  content: "";
  background: linear-gradient(
    45deg,
    #48ff00,
    #ff0000,
    #ff7300,
    #00ffd5,
    #002bff,
    #fffb00,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-86 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
@keyframes glowing-button-86 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 80% 0;
  }
  100% {
    background-position: 0 0;
  }
}
}